header{
  height: 150px;
 background-color: rgb(17, 17, 79); }
.header-logo{
  width:100%;
  margin: auto;}
.sira{
height: 100px;
padding-top: 25px;
padding-left: 10px;
display: inline; }
.header-logo h3{
  float: right;
  color: aliceblue;
  padding-top: 10px;
  padding-right: 30px;
  font-size: 40px;}

.main{
  width: 95%;
  display: flex;
  margin: auto;
}

.contents1{height:800px;
   width: 75%;}
     
 .bin{max-width: 50%;}
 .deba{max-width: 30%;}
 .coming{max-width: 30%;
  padding-right: 10px;}

@media screen and (max-width:767px) {.contents1{width:65%;}}
@media screen and (max-width:767px) {.bin{width:100px;height: auto;}}
@media screen and (max-width:767px) {.deba{width:100px;height: auto;}}
@media screen and (max-width:767px) {.deba2{width:100px;height: auto;}}

.contents2{height:600px;width: 25%;}
@media screen and (max-width:767px) {.contents2{width:35%;}}
.nana{width: 50%;padding-left: 50px;}

.contents2 h1{font-size: 30px;
    margin-bottom:0;
    margin-left: 30px;}
.contents2 h2{margin-left: 30px;
  margin-top:0;
  font-size: 25px;}


 li{list-style: none;
   font-size: 16px;}
.contact{margin-top:100px;}
.contact h3{font-size:20px;
  color:blue;
  align-items: center;
  justify-content: center;
  display: flex;}



@media screen and (max-width:767px){
  .contact{margin-top:100px;}
  .contact h3{font-size:30px;}
}
.link{display: block;
  background-color:rgb(17, 17, 79) ;
  color: aliceblue;
  padding: 5px;}