header{
  height: 150px;
 background-color: rgb(17, 17, 79); 
}

.header-logo{
  width:100%;
  margin: auto;
}

.sira{
height: 100px;
padding-top: 25px;
padding-left: 10px;
        display: inline; 
}
.header-logo h3{
  float: right;
  color: aliceblue;
  padding-top: 40px;
  padding-right: 30px;
}
@media (max-width:670px){
  .header-logo h3{
  font-size: xx-large;}
}
.products{
  height: 400px;
}

 .bin{
  height:360px;
 }
 .deba{
  height: 360px;
 }
 .coming{
   height: 360px;
  padding-right: 50px;
 }
.nana{
  width: 150px;
}
.artist h3{
  font-size: 30px;
  float: left;
}
.artist p{
  padding-top: 30px;
  font-size: 20px;
}
.artist-nana{

 justify-content: center;
display: flex;
}

.artist{
  height: 500px;
}
 li{
   list-style: none;
   font-size: 20px;
}
.contact{
  margin-top:100px;
}

.contact p{
  font-size:20px;
  color:blue
  align-items: center;
  justify-content: center;
  display: flex;
}
@media (max-width:1000px){
  .contact{
  margin-top:800px;}
}
@media (max-width:670px){
  .contact{
  margin-top:1200px;}
  .contact p{
  font-size:30px;}
}
.link{
  display: block;
  background-color:rgb(17, 17, 79) ;
  color: aliceblue;
  padding: 5px;
}